.reloaded-control {
	margin: 1em 0;
}

	/* This is a fix for margins. This is a sub-list in the customizer but
	   not on the widgets admin screen. This is to make sure the margins
	   are the same. */
	.reloaded-control .wp-tab-panel ul {
		margin: 1em 0;
	}

.widgets-php .reloaded-section {
	float:  left;
	margin: 0 5% 0 0;
			box-sizing: border-box;
}

	.widgets-php.rtl .reloaded-section {
		float:        right;
		margin-left:  5%;
		margin-right: 0;
	}

	.widgets-php .reloaded-col-2:nth-child( 2n  ),
	.widgets-php .reloaded-col-3:nth-child( 3n ) { margin-left: 0; margin-right: 0; }

	.widgets-php .reloaded-col-2  { width: 47.5%; }
	.widgets-php .reloaded-col-3  { width: 30%;   }

.reloaded-section select[multiple="multiple"] {
	width:  100%;
	height: 5.0em !important;
}

.widgets-php input.smallfat {
	float: right;
	width: 66px;
}

.widgets-php select.smallfat {
	float:     right;
	min-width: 66px;
}
